body {
  background-color: #f1f1f1;
}

h2 {
  color: red;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
